:root{
    
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
}

  *{
      box-sizing: border-box;
  }

/* card */
.card {
    margin: 0 0 20px 0;
    border-radius: var(--border-radius);
  }

.card-header {
color: var(--primary);
background-color: var(--dark);
padding: 2.5%;
border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.card-body {
padding: 2.5%;
}

/* form */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.button-colors{
    color: rgb(255, 174, 0);
    background-color: var(--dark);
    transition: .5s;
}

.button-colors:hover {
    color: lightblue;
}

.border-standard {
    border: 3px var(--light-dark) solid;
    border-radius: 10px;
}

.border-bottom-user {
  border-bottom: 3px blue solid;
  border-radius: var(--border-radius);
  /* border-radius: 10px; */
}

/* custom classes */
.slight-margin-allaround{
  margin: 5px;
}

.width-60{
  width: 60%;
}
.width-100{
  width: 100%;
}

.mr-none {
  margin-right: 0;
}

.pad-right-some {
  padding-right: 1%;
}

.hide-before-append {
  opacity: 0;
}

.city-alt {
  font-size: 20px;
}

.img-background {
  background-color: lightblue;
  border-radius: 50%;
}
